extend layout

block header
  .jumbotron
    h1(align="center" href="/") _piradio_
    p(align="center") the küchenradio
    a(class="btn btn-primary btn-block", role="button", href='/stop') Stop
block content
  .list-group
    -each val, index in channels
      -if (index != channel)
        a.list-group-item(href='/channel/#{index}##{index}', id='#{index}')
          h4 #{val.name}
          p playing #{val.song}
      -else
        a.list-group-item(href='/channel/#{index}##{index}', class='active', id='#{index}')
          h4 #{val.name}
          p playing #{val.song}
block footer
  p(align="center") _the_küchenradio_ (All Rights Reserved)
