doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Radio App')
    meta(name='author', content='Henry Wiechert')
    // link(rel='icon', href='bootstrap/docs/favicon.ico')
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  body
    block header
    block content
    block footer
